.main_footer {
	padding: 20px;
	background-color: #e6e6e6;
}

.footer_row {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.footer_section {
	flex: auto;
	margin-right: 15px;
}
.footer_section .footer_title {
	position: relative;
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 8px;
	border-bottom: 1px solid;
	color: #787878;
}
.footer_head {
	padding-bottom: 9px;
}
.footer_section .section_content {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	color: #787878;
}
.footer_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer_list .footer_item {
	margin: 0;
	padding: 0;
}
.copyright {
	text-align: center;
	font-size: 12px;
	color: #999999;
	padding: 15px 0;
}
