@import 'mymain.css';
@import 'myfooter.css';

body {
	background-color: #f2f2f2;
}
.container {
	padding:0;
	margin: 0px 130px;
	box-shadow:0 0 16px 0 rgba(0,0,0,0.16);
	-webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,0.16);
	-moz-box-shadow: 0 0 16px 0 rgba(0,0,0,0.16);
}
